/* Solar System Animation */
.solar-syst {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 400px;
  position: relative;
  overflow: visible;
}

@media (min-width: 640px) {
  .solar-syst {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .solar-syst {
    height: 600px;
  }
}

.solar-syst::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 1px;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  box-shadow: 
    50px 100px 0 0px rgba(255,255,255,0.9),
    150px 200px 0 0px rgba(255,255,255,0.7),
    250px 50px 0 0px rgba(255,255,255,0.8),
    350px 300px 0 0px rgba(255,255,255,0.6),
    450px 150px 0 0px rgba(255,255,255,0.9),
    550px 400px 0 0px rgba(255,255,255,0.7),
    650px 80px 0 0px rgba(255,255,255,0.8),
    750px 250px 0 0px rgba(255,255,255,0.6),
    850px 350px 0 0px rgba(255,255,255,0.9),
    950px 120px 0 0px rgba(255,255,255,0.7),
    200px 400px 0 0px rgba(255,255,255,0.8),
    400px 180px 0 0px rgba(255,255,255,0.6),
    600px 320px 0 0px rgba(255,255,255,0.9),
    800px 60px 0 0px rgba(255,255,255,0.7),
    1000px 280px 0 0px rgba(255,255,255,0.8);
}

.solar-syst > div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}

.solar-syst > div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}

.solar-syst > div:not(.sun)::before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

/* Sun */
.sun {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

/* Mercury */
.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  animation: orb 7.2s linear infinite;
}

.mercury::before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

/* Venus */
.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: orb 18.5s linear infinite;
}

.venus::before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

/* Earth */
.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  animation: orb 30s linear infinite;
}

.earth::before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}

.earth::after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  animation: orb 2.25s linear infinite;
}

/* Mars */
.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  animation: orb 56.4s linear infinite;
}

.mars::before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

/* Jupiter */
.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  animation: orb 355.8s linear infinite;
}

.jupiter::before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

/* Saturn */
.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  animation: orb 882.9s linear infinite;
}

.saturn::before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}

.saturn::after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  animation: orb 882.9s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

/* Uranus */
.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  animation: orb 2511.6s linear infinite;
}

.uranus::before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

/* Neptune */
.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  animation: orb 4911.6s linear infinite;
}

.neptune::before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

/* Pluto */
.pluto {
  height: 780px;
  width: 780px;
  margin-top: -390px;
  margin-left: -390px;
  animation: orb 7434s linear infinite;
}

.pluto::before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

/* Asteroids Belt */
.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  animation: orb 180s linear infinite;
  overflow: hidden;
}

.asteroids-belt::before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: 
    50px 30px 0 -104px rgba(255,255,255,0.3),
    80px 60px 0 -104px rgba(255,255,255,0.4),
    120px 40px 0 -104px rgba(255,255,255,0.2),
    150px 90px 0 -104px rgba(255,255,255,0.3),
    180px 20px 0 -104px rgba(255,255,255,0.4),
    200px 70px 0 -104px rgba(255,255,255,0.2);
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

